node_modules/
dist/
clientbin/
bin/
obj/
*.js
*.css
*.html
*.map
*.suo
*.user
*.log*

server/app/public/**/*.ts

**/typings/*/**/*.d.ts
**/typings/tsd.d.ts

!Gruntfile.js
!server/app/public/javascript/config.js
!server/app/public/javascript/vendor/**
