node_modules/
dist/
public/**/*.ts
clientbin/
bin/
obj/
*.js
*.css
*.html
*.map
*.suo
*.user

**/typings/*/**/*.d.ts
**/typings/tsd.d.ts

!Gruntfile.js
!public/javascript/config.js
!public/javascript/vendor/**
