header
  nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .navbar-header(style='margin-left: 4px;')
      a.navbar-brand(href='/', style='font-family: "Open Sans", "sans-serif";')
        | p@

.sticky
  .container-fluid
    main.col-xs-8
      div(ng-hide='portConnectable', style='display: none;')
        .jumbotron
          h1 p@
          p p@はPeerCastの配信をブラウザで視聴できるサービスです。
          p p@の利用には、PeerCastの設定が必要です。まずはこちらから PeerCastStation をダウンロードしてください。
          h2 既にPeerCastを起動している場合
          p TCPポート番号 [     ] [再試行]
      .row(style='padding: 5px', ng-repeat='channel in channels')
        a(href='player.html?streamid={{channel.id}}&remoteip={{channel.ip}}')
          button.btn.btn-default.col-xs-12(style='text-align: left;')
            .pull-left(style='font-size: 2em; margin: 0 20px 0 5px')
              span.glyphicon.glyphicon-bullhorn
            b {{channel.line1}}<br>
            div(style='text-overflow: ellipsis; overflow: hidden;')
              span(style='margin-left: 1em;') [{{channel.line2}}]
              span(style='margin-left: 1em;', ng-show='channel.line3.length > 0') 「{{channel.line3}}」
      .row
    aside.col-xs-4
      .affix(style="width: 33.3333%; right: 15px; padding-left: 10px;")
        .panel.panel-default
          .panel-heading 最近の配信
          .list-group
            .list-group-item なにか
            .list-group-item なにか
            .list-group-item なにか
        .panel.panel-default
          .panel-heading イベント
          .list-group
            .list-group-item なにか
            .list-group-item なにか
            .list-group-item なにか
        .panel.panel-default
          .panel-heading YPからのお知らせ
          .list-group
            .list-group-item(ng-repeat='info in ypInfos')
              b {{info.line1}}<br>
              div(style='text-overflow: ellipsis; overflow: hidden;')
                span(style='margin-left: 1em;') [{{info.line2}}]<br>
                span(style='margin-left: 1em;', ng-show='info.line3.length > 0') 「{{info.line3}}」

      // 配信開始のお知らせ
  #push
footer.navbar.navbar-default(style='height: 52px;')
