header
  nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container-fluid
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/', style='font-family: "Open Sans", "sans-serif";')
          | p@
      .collapse.navbar-collapse.navbar-ex1-collapse
        form.navbar-form(role='search', style='border: none;')
          .input-group.col-sm-6.col-md-5.col-lg-4
            input.form-control(type='text', placeholder='Search')
            span.input-group-btn
              button.btn.btn-default(type='button')
                span.glyphicon.glyphicon-search

.sticky
  .row
    main.col-xs-8
      div(ng-hide='portConnectable', style='display: none;')
        .jumbotron
          h1 p@
          p p@はPeerCastの配信をブラウザで視聴できるサービスです。
          p p@の利用には、PeerCastの設定が必要です。まずはこちらから PeerCastStation をダウンロードしてください。
          h2 既にPeerCastを起動している場合
          p TCPポート番号 [     ] [再試行]
      .row(style='padding: 5px', ng-repeat='channel in channels')
        a(href='player.html?streamid={{channel.id}}&remoteip={{channel.ip}}')
          button.btn.btn-default.col-xs-12(style='text-align: left;')
            .pull-left(style='font-size: 3.1em; margin: 0 20px 0 5px')
              span.glyphicon.glyphicon-bullhorn
            b {{channel.line1}}<br>
            span [{{channel.line2}}]<br>
            span(ng-show='channel.line3.length > 0') 「{{channel.line3}}」
      .row
    aside.col-xs-4
  #push
footer.navbar.navbar-default
