.two-pain
  main
    .dummy
    .silverlight.player(localip='{{localIp}}', streamid='{{streamId}}', remoteip='{{remoteIp}}')
    .info
      h4 ぷろぐれch
  aside
    iframe(src='http://jbbs.shitaraba.net/bbs/lite/read.cgi/radio/22607/1398170911/l50', height='100%', width='100%', frameborder='0')
