header
  nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container-fluid
      .navbar-header
        a.navbar-brand(href='/', style='font-family: "Open Sans", "sans-serif";')
          span.glyphicon.glyphicon-chevron-left(style='margin-right: 6px')
          | 一覧に戻る
.player-page.two-pain
  main
    silverlight.player(localip='{{localIp}}', streamid='{{streamId}}', remoteip='{{remoteIp}}')
    .panel.panel-default
      .panel-heading
        span(style='font-size: 22px; cursor: pointer;', ng-show='favorite', ng-click='removeFavorite()')
          span.glyphicon.glyphicon-star(style='color: #ff0')
          span.glyphicon.glyphicon-star-empty(style='color: #555; margin-left: -1em;')
        span.glyphicon.glyphicon-star(style='font-size: 22px; color: #bbb; cursor: pointer;', ng-hide='favorite', ng-click='addFavorite()')
        h4(style='margin-left: 10px; display: inline;') {{name}}
  aside
