doctype html
meta(charset='utf-8')
title
meta(name='description', content='P@はWebブラウザーでさまざまなライブストリーミング配信を楽しむことのできるウェブサービスです。')
meta(name='keywords', content='P@,p-at,PeerCast,ピアキャスト,配信,動画,ストリーミング,生放送')
link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
link(rel='stylesheet', href='#{root}css/style.css')
main
  div(ng-view)
    div(style='text-align: center; margin: 40px auto; font-size: 24px')
      | ⏳
  #push
footer.navbar.navbar-default
script(src='//s3.amazonaws.com/es6-promises/promise-0.1.1.min.js')
script(src='//code.jquery.com/jquery-2.1.0.min.js')
script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
if debug
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.js')
else
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.min.js')
if debug
  script(src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js', data-main='#{root}javascript/config')
  script(src='//localhost:35729/livereload.js')
else
  script(src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js', data-main='#{root}js/main')
